
.custom-bg{
    background-color:#673ab7!important;
}
.admin .card{
    
    border: 1px solid #673ab7;
      
}
.admin .card:hover{
    
    background: #e2e2e2;
      cursor: pointer; 
      
}
.list-group-item.active{
        background-color:#673ab7!important;
        border-color:#673ab7!important;
}
.discount-label{
   
    font-style: italic!important;
    text-decoration: line-through
}
.product-card:hover{
    background: #e2e2e2;
      cursor: pointer; 
}